#profileMenu{
    height: auto;
    width: 230px;
    background: #fff;
    display: none;
    margin-top: 65px;
    margin-left: -70px;
    border-radius: 6px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    
    a{
        color: #BB271A;
        padding-left: 20px;
        font-size: 0.95rem;
        display: flex;
        align-items: center;
        width: 100%;
        height: 45px;
        font-weight: 500;

        &:hover{
            opacity: 1;
            background: #e6e9edff;
        }

        i{
            font-size: 1.4rem;
            margin-right: 10px;
        }
    }

    .linkBtnProfile{
        color: #3179BE;
        padding-left: 20px;
        font-size: 0.95rem;
        display: flex;
        align-items: center;
        width: 100%;
        height: 45px;
        font-weight: 500;
        background: none; 
        border: none; 
        cursor: pointer;

        &:hover{
            opacity: 1;
            background: #e6e9edff;
        }

        i{
            font-size: 1.4rem;
            margin-right: 10px;
        }
    }
}

#btnProfile{
    display: flex;
    flex-direction: column;
    position: relative;
}

.ativo{
    display: flex !important;
}

.btnProfile{
    
    display: flex;
    align-items: center;
    background: none;
    padding: 7px;
    color: #ffffffff;
    border-radius: 5px;
    font-size: 1.18rem;
    cursor: pointer;
    border: 0px;
    font-weight: 500;

    &:hover{
        filter: opacity(0.7);
    }
}