*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

:root{
	--bg-1: #ffffff;
	--body-bg: #f2f2f2;
	--fnt-color: #000000;
	--fnt-color2: #245687;
    --fnt-color3: #1e2a36;
    --bg-form-color: #f8f8f8;
    --shadow: #0000001a;
}

.dark-mode:root{
	--bg-1: #283440;
	--body-bg: #232c35;
	--fnt-color: #e1eafa;
	--fnt-color2: #4085c4;
    --fnt-color3: #6c98c3;
    --bg-form-color: #181e24;
	--icon: brightness(150%);
    --shadow: #444a50;
}

body {
    background-color: var(--body-bg);
    transition: background 0.2s linear;
    font-family: 'Open Sans', sans-serif;
}


header{
	width: 100%;
	height: 135px;
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	z-index: 100;
	align-items: center;
}

.home{
	position: absolute;
	left: -2000px;
}

a {
	color: #ffffff;
	text-decoration: none;
	transition: opacity 0.2s;
}


header a:hover{
	opacity: 0.7;
}

footer a:hover{
	opacity: 0.7;
}

.nav{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-list{
	width: 100%;
	height: 100%;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	display: flex;
}

.nav-list ul{
	width: 100%;
	height: 100%;
	align-content: center;
	justify-items: space-between;
}

.nav-list li{
	text-align: center;
	letter-spacing: 2px;
	font-size: 1.2vw;
	padding-right: 2%;
	padding-left: 2%;
}

.gradiente{
	width: 100%;
	height: 130%;
	background: linear-gradient(#000000e1, transparent);
	position: absolute;
	z-index: -10;
}

/*Botão de Dark mode
*************************************/

.checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    background-color: #2a2a2a;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
	transform: scale(1.5);
}

.label .ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
 	transform: translateX(24px);
}

.fa-moon{
    color:#f1c40f;
}

.fa-sun{
    color:#f39c12;
}

/*Logo
**********************/

header .logo{
	height: 100%;
	align-content: center;
}

.logo img{
	height: 100%;
    min-height: 50%;
	margin-top: 20px;
}

/*Parte do login e busca
*******************************/

.login{
	width: 15vw;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.image-links{
	display: flex;
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
	
}

.line img{
	height: 100%;
	min-width: 20%;
}

.icons img{
	height: 60%;
	margin: 0;
}

.icons a{
	display: flex;
	align-items: center;
	justify-content: center;
}

.display {
	display: flex;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 1.2vw;
}

/*Parte do banner*/

.banner{
	width: 100%;
	height: 750px;
	background: url("../imagens/banner/banner.jpg") no-repeat center;
	background-size: cover;
	background-attachment:fixed;
	filter: brightness(60%);
	position: relative;
}

main{
    display: flex;
    justify-content: center;
}

.txt-banner{
	top: 35vh;
	color: #ffffff;
	font-size: 5rem;
	margin-left: 2%;
	position: absolute;
	font-weight: 1000;
	filter: none;
}


/*Conteudo das cidades
*******************/

section{
    display: flex;
    justify-content: center;
    height: auto;
}



.conteudo{
    margin-top: -100px;
    margin-bottom: 40px;
    height: auto;
    background: var(--bg-1);
    display: flex;
    justify-content: center;
    width: 1300px;
    z-index: 10;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.276);
    transition: background 0.2s linear;
}

.line-cont{
    width: 150px;
    background: var(--fnt-color);
    height: 3px;
    margin-top: 50px;
    position: absolute;
}

.cont-all{
    padding: 120px 250px 10px 250px;
    min-width: 1300px;
    width: 1300px;
}

.conteudo-cidade{
    margin-bottom: 70px;
    font-size: 16px;

    h1{
        text-align: center;
        font-size: 3.5em;
        font-weight: 2000;
        color: var(--fnt-color2);
    }

    h3{
        text-align: center;
        font-weight: 100;
        font-size: 1.5em;
        margin-bottom: 20px;
        margin: 5px 5px 30px 5px;
        color: var(--fnt-color);

    }

    p{
        margin: 5px 5px 30px 5px;
        text-align: justify;
        font-size: 1.2em;
        color: var(--fnt-color);
    }

    h2{
        color: var(--fnt-color3);
        margin: 0 5px;
        font-size: 1.5em;
    }
}

.conteudo-img{
    width: 100%;
    height: 400px;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 20px;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}



.conteudo-cidade .left{
    text-align: left;
}

.conteudo-cidade .right{
    text-align: right;
}



/*Rodapé*/

footer{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #245687;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	padding: 15px 0 15px 0;
	color: white;
}

.footer{
	height: auto;
	width: 1200px;
	display: flex;
	justify-content: center;
	align-items: start;
	margin-top: 25px;
	margin-bottom: 35px;
}

.logo-rodape{
	display: flex;
	margin-right: 2px;
	justify-content: center;
	width: 20%;
}

.logo-rodape a img{
	height: 105px;
}

@media (max-width: 940px){
		.logo-rodape a img{
			object-fit: contain;
		}
}

.nav-list-footer{
	display: flex;
	width: 40%;
	justify-content: between;
	height: auto;
	flex-direction: column;


	ul{
		display: flex;
		width: 100%;
		justify-content: space-between;

		li{
			display: flex;
			justify-content: center;
			align-items: start;

		}
	}
}

@media screen and (max-width: 900px){
	.footer{
		width: 100%;
		justify-content: space-evenly;
	}

	.nav-list-footer ul{
		flex-direction: column;
		align-items: start;
	}
}

@media screen and (max-width: 1216.98px){
	.footer{
		width: 100%;
	}

}


.contact{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color: white;
	margin-top: 30px;

	div{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 3px;

		h1{
			width: 40%;
			font-size: 22px;
		}

		.icons-rodape{
			display: grid;
			place-items: center;
			gap: 20px;
			grid-template-columns: repeat(4, minmax(0, 1fr));
			font-size: 2rem;
		}
	}
}

@media screen and (max-width: 900px){
	.contact div{
		flex-wrap: wrap;
	}
}

.txt-footer{
	margin-bottom: 15px;
}


.mobile-menu{
	display: none;
}

.space{
	display: none;
}



/*Responsivo
************************************************/

@media screen and (max-width: 880.98px){
    

    header .logo{
		height: 60%;
		margin-right: auto;
		margin-left: 15px;
	}

	.logo img{
		margin-top: 5px;
	}

	.login{
		height: 75%;
		margin-right: 20px;
	}

	
	.banner{
		height: 60vh;
	}

	.txt-banner{
		font-size: 3rem;
		top: 25vh;
	}

	header{
		justify-content: space-around;
	}

	/*menu hamburguer*/

	.mobile-menu{
		display: block;
		cursor: pointer;
		margin-left: 20px;
		z-index: 1000;
		transition: transform 0.2 linear;
	}

	button{
		background: transparent;
		border: none;
	}

	.mobile-menu div{
		width: 32px;
		height: 2px;
		margin: 8px;
		background: #ffffff;
		transition: transform 0.2s linear;
	}

	.mobile-menu:hover{
		div{
			background: #3379c0;
		}
	}

	.label{
		transform: scale(1);
		margin-right: 15px;
	}
	

	.text{
		display: none;
	}

	.nav{
		position: absolute;
		z-index: 200;
    	top: 0; 
		left: 0;
    	width: 60%;
    	height: 100vh;
    	background: var(--bg-1);

		display: flex;
    	flex-direction: column;
		justify-content: flex-start;

		transition: transform 0.3s ease-in-out;
    	transform: translateX(-100%);
		box-shadow: 0px 0px 30px 5px #1f1f1f54;
  	}
	
	.nav-list{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		
		width: 90%;
		height: 50%;
		margin-top: 100px;
	}
    	

	.nav-list li{
    	margin-top: 50px;
		margin-left: 10px;
		align-content: center;
    	text-align: center;
		margin-bottom: 1px;
		width: 80%;
		height: 50px;
		text-align: left;
 	 }

	 .nav-list li:hover{
		border-left: 4px var(--fnt-color2) solid;
	 }

	 .nav-list li a{
		color: var(--fnt-color);
		font-size: 1.5rem;
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;

		transition: color 0.2s;
		margin-bottom: 1px;
		padding-left: 20px;
		font-weight: 600;

		&:hover{
			transition: color 0.2s;
			opacity: 1;
			color: var(--fnt-color2);
		}
	 }

	 .nav.open{
		transform: translate(0);
	 }


    .cont-all{
        padding: 120px 0 20px 0;
        width: 600px;
        min-width: 600px;
    }

	.logo-rodape img{
		height: 60%;
	}

}


@media (max-width: 1400.98px) {

	body{
		overflow-x: hidden;
	}

	.section{
		width: 100vw;
	}

    .conteudo{
        border-radius: 60px;
        width: 100%;  
    }
    
}

@media (max-width: 688.98px) {

    .conteudo{
        border-radius: 60px;
        width: 100%; 
    }

    .conteudo-cidade{ 
        font-size: 12px;

        h2{
            padding: 0 10%;
        }    

        p{
            padding: 0px 10%;
        }
    }
    
    .conteudo-img{
        border-radius: 0px;
        width: 100%;
        height: 45vw;
        padding: 0 30px;

        img{
            border-radius: 30px;
        }
        
    }

    .cont-all{
        padding: 120px 0 0 0;
        width: 100%;
        min-width: 100%;
    }

    .line-cont{
        width: 120px; 
    }

}

@media screen and (max-width: 540.98px){
    
    .txt-banner{
        font-size: 9vw;
    }
}